<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jsme.user.hotelmanagementforandroid" >

    <uses-sdk
        android:maxSdkVersion="22"
        android:minSdkVersion="17" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/headlolauncher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/app_register"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_homemenu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ForgottenPasswordActivity"
            android:label="@string/app_forgottenpassword"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".BookingsActivity"
            android:label="@string/app_booking"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CustomersActivity"
            android:label="@string/app_customers"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RoomsActivity"
            android:label="@string/app_room"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MyAccountActivity"
            android:label="@string/app_myaccount"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ServicesAndExtrasActivity"
            android:label="@string/app_servextra"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SingleRoomActivity"
            android:label="@string/app_singleroom"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".NewRoomActivity"
            android:label="@string/app_addroom"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".NewCustomerActivity"
            android:label="@string/app_regcustomer"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".NewCAddressActivity"
            android:label="@string/app_address"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".NewCContactActivity"
            android:label="@string/app_contact"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SingleServiceAndExtraActivity"
            android:label="@string/app_singleservextra"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".NewServiceAndExtraActivity"
            android:label="@string/app_addservextra"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".NewBookingActivity"
            android:label="@string/app_addbooking" >
        </activity>
    </application>

</manifest>
